/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333333;
}

header {
    background-color: #8b03f3;
    color: #fff;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    padding-left: 89%;
    font-size: 1.0rem;
    margin: 0%;
    padding: 0%;
}

main {
    padding: 2rem;
}

h1 {
    padding-left: 45%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

price-filter{
    padding-left: 45%;
    padding-top: 20px;
}


.place-card{
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;

}

.place-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 200px;
    background-color: white;
}

.place-card h2{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.place-card p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
}

#places-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 8px; /* espace entre les cartes */
}

.details-button {
    background-color: #8b03f3;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
}


.place-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 200px;
    background-color: white;    
}

.place-info p{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#place-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 8px; /* espace entre les cartes */
}

label[for="price-filter"]{
    display: inline-block;
    padding-left: 46%;
    padding-top: 12px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #8b03f3;
    color: #fff;
    text-align: center;
    padding: 20px;
}