/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333333;
}

header {
    background-color: #484848;
    color: #fff;
    padding: 1rem;
    border: 2px solid red;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1.0rem;
}

nav a.logo {
    margin-left: 0;
}

nav a.login-button {
    margin-left: auto;
}

main {
    padding: 2rem;
}

#filter h1 {
    padding-left: 45%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#description h1{
    padding-left: 45%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#place-identification h1{
    padding-left: 41%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

price-filter{
    padding-left: 45%;
    padding-top: 20px;
}


.place-card{
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;

}



.place-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 200px;
    background-color: white;
}

.place-card h2{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.place-card p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
}

#places-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 8px; /* espace entre les cartes */
}

.details-button {
    background-color: #484848;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
}


.place-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 200px;
    background-color: white;    
}

.place-info p{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 14px;
}

#place-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 8px; /* espace entre les cartes */
}

.place-info{
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;

}

.review-card{
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.review-card p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
}



.add-review {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    border: 1px solid #ddd;
    max-width: 600px;
}

.add-review h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.add-review label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}


label[for="price-filter"]{
    display: inline-block;
    padding-left: 46%;
    padding-top: 12px;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #484848;
    color: #fff;
    text-align: center;
    padding: 20px;
}


#login-form {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
}

#login-form h2 {
    text-align: center;
    margin-bottom: 15px;
}

#login-form label {
    display: block;
    margin-top: 10px;
}

#login-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

#login-form button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #070707;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-form button:hover {
    background: #5e5e5e;
}

#login-main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}